@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(to right, black, #343434);
  font-family: Arial, Helvetica, sans-serif;
}

div::-webkit-scrollbar {
  display: none;
}

.sidebar {
  min-width: 210px;
}

.gamecard {
  box-shadow: 0px 0px 8px grey;
  background-color: #343434;
}

.gamecard:hover {
  box-shadow: 0px 0px 8px white;
  cursor: pointer;
  animation-name: scale-up;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes scale-up {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
